@model ManageMyProjects.Models.PhasesActivity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PhasesActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Activity Title</label>
                <input asp-for="PhaseActivityName" class="form-control" />
                <span asp-validation-for="PhaseActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Progress %</label>
                <input asp-for="PhaseActivityProgress" min="0" max="100" class="form-control" />
                <span asp-validation-for="PhaseActivityProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Budget CHF</label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Costs CHF</label>
                <input asp-for="RealCosts" class="form-control" />
                <span asp-validation-for="RealCosts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Expense Hours</label>
                <input asp-for="Expense" class="form-control" />
                <span asp-validation-for="Expense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activity Start Date Planned</label>
                <input asp-for="PhaseActivityStartDatePlanned" class="form-control" />
                <span asp-validation-for="PhaseActivityStartDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activity End Date Planned</label>
                <input asp-for="PhaseActivityEndDatePlanned" class="form-control" />
                <span asp-validation-for="PhaseActivityEndDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activity Start Date Realized</label>
                <input asp-for="PhaseActivityStartDateRealized" class="form-control" />
                <span asp-validation-for="PhaseActivityStartDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activity End Date Realized</label>
                <input asp-for="PhaseActivityEndDateRealized" class="form-control" />
                <span asp-validation-for="PhaseActivityEndDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Activity Responsible</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label>Project Phase</label>
                <select asp-for="PhaseId" class="form-control" asp-items="ViewBag.PhaseId"></select>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <label>File upload</label>
                <input asp-for="FileContent" type="file" />
                <span asp-validation-for="FileContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
