@model ManageMyProjects.Models.Phase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Phase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Phase Name</label>
                <input asp-for="PhaseName" class="form-control" />
                <span asp-validation-for="PhaseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phase Review Date</label>
                <input asp-for="PhaseReview" class="form-control" />
                <span asp-validation-for="PhaseReview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phase Start Date Planned</label>
                <input asp-for="PhaseStartDatePlanned" class="form-control" />
                <span asp-validation-for="PhaseStartDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phase End Date Planned</label>
                <input asp-for="PhaseEndDatePlanned" class="form-control" />
                <span asp-validation-for="PhaseEndDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phase Start Date Realized</label>
                <input asp-for="PhaseStartDateRealized" class="form-control" />
                <span asp-validation-for="PhaseStartDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phase End Date Realized</label>
                <input asp-for="PhaseEndDateRealized" class="form-control" />
                <span asp-validation-for="PhaseEndDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Progress %</label>
                <input asp-for="PhaseProgress" class="form-control" />
                <span asp-validation-for="PhaseProgress" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label>Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
