@model ManageMyProjects.Models.Project

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Project Title</label>
                <input asp-for="ProjectTitle" class="form-control" />
                <span asp-validation-for="ProjectTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project Description</label>
                <input asp-for="ProjectDescription" class="form-control" />
                <span asp-validation-for="ProjectDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project Approval Date</label>
                <input asp-for="ProjectApprovalDate" class="form-control" />
                <span asp-validation-for="ProjectApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project Start Date Planned</label>
                <input asp-for="ProjectStartDatePlanned" class="form-control" />
                <span asp-validation-for="ProjectStartDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project End Date Planned</label>
                <input asp-for="ProjectEndDatePlanned" class="form-control" />
                <span asp-validation-for="ProjectEndDatePlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project Start Date Realized</label>
                <input asp-for="ProjectStartDateRealized" class="form-control" />
                <span asp-validation-for="ProjectStartDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project End Date Realized</label>
                <input asp-for="ProjectEndDateRealized" class="form-control" />
                <span asp-validation-for="ProjectEndDateRealized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Project Progress %</label>
                <input asp-for="ProjectProgress" class="form-control" />
                <span asp-validation-for="ProjectProgress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Projectmanager</label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
            </div>
            <div class="form-group">
                <label>Priority</label>
                <select asp-for="PriorityId" class ="form-control" asp-items="ViewBag.PriorityId"></select>
            </div>
            <div class="form-group">
                <label>Procedure Model</label> 
                <select asp-for="ProcedureModelId" class ="form-control" asp-items="ViewBag.ProcedureModelId"></select>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
