@{
    ViewData["Manage My Projects"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Manage My Projects</h2>
        <p>
            
        </p>
    </div>
</div>
<div class="jumbotron">
    <img src="~/images/araventh.png" style="height:35%; width:35%;">

</div>