@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    As preparation for the diploma thesis at the TEKO Bern University of Applied Sciences, a term paper is written in the fifth semester. An IT project is planned, executed and documented over the period from December 2020 to March 2021.
    The task for the semester thesis in the subject System and Software Engineering was to create an IT-based system for the handling of projects. The skills learned in class in the area of system and software development are to be implemented here. The basics of object-oriented programming are also applied.

    The application is only for illustration and presentation for the project work at TEKO.
</p>
